.notes{
    padding-top: 80px;
    max-width: 800px; display: block;
    margin: 0 auto;
}
.notes li, .notes li form {
    list-style-type: none;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: white;
}
.notes li form{
    min-width: 100%;
    padding: 0;
}
.notes-list {
    margin-top: 80px;
    background-color: #DDDD;
    min-height: 500px;
}
.notes li .Button{
    min-width: 0; 
    margin: 0;
}
.notes li .buttons-wrapper{
    display: inline-flex;
}
li + li {
    margin-top: 24px;
}