.Button{
    padding: 6px 12px;
    border-radius: 24px;
    text-decoration: none;
    display: block; min-width: 100px;
    font-size: 16px; line-height: 24px;
    text-align: center;
}
.primaryBtn{
    background-color: #6C63FE;
    border-color:#6C63FE ;
    color: white;
}
.primaryBtn:hover{
    background-color: #403C8E;
    border-color: #403C8E;
    color: white;
}
.secondaryBtn{
    background-color: transparent;
    color:  #6C63FE;
    border: 2px solid #6C63FE;
}
.no-outline {
    border: none;
    font-weight: 500;
}

.Button.big{
    padding: 12px 24px;
    font-size: 18px; line-height: 26px;
}
.Button.medium{
    padding: 10px 20px;
    font-size: 18px; line-height: 24px;
}
.Button[disabled] {
    background-color: darkgrey;
}
.Button.delete{
    background-color: red;
    color: white;
}